<div>
  <form class="form-horizontal " name="form" (ngSubmit)="f.form.valid && addProduct(product)" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{'has-error':f.submitted && !name.valid}">
      <label class="col-sm-2 control-label">Product name : </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="productName" placeholder="Name" [(ngModel)]="product.name"
               name="name" #name="ngModel" required>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':f.submitted && !description.valid}">
      <label class="col-sm-2 control-label">Description : </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="productDescription" placeholder="Description" row="3"
                  #description="ngModel" [(ngModel)]="product.description" name="description" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Image : </label>
      <div class="col-sm-10">
        <input #fileInput type="file" class="btn btn-default" id="exampleInputFile"
               (change)="onFileChange($event,product)">
        <p class="help-block">Leave here for the file preview later.</p>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':f.submitted && !amount.valid}">
      <label class="col-sm-2 control-label">Amount : </label>
      <div class="col-sm-10 form-inline">
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(product)">-
        </button>
        <input type="text" class="col-md-1 form-control input-amount" value="1" [(ngModel)]="product.amount"
               name="amount" #amount="ngModel" required>
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(product)">+
        </button>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':f.submitted && !price.valid}">
      <label class="col-sm-2 control-label">Price : </label>
      <div class="col-sm-10 form-inline">
        <input type="number" class="form-control" id="productPrice" placeholder="Price" min="1" [(ngModel)]="product.price"
               name="price" #price="ngModel" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="addProduct(product)">Add</button>
      </div>
    </div>
  </form>
</div>


