<ul  class="nav nav-pills nav-stacked">
  <li role="presentation" routerLinkActive="active"><a routerLink="/list">List</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/add">Add</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/login">Login</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/user-list">User List</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/user-add">User Add</a></li>
</ul>


