<div [hidden]="!isNoData">
  <div class="alert alert-danger" role="alert">There is no data for the specific id</div>
</div>

<div [hidden]="isNoData">
  <form class="form-horizontal ">
    <div class="form-group">
      <label class="col-sm-2 control-label">Product name : </label>
      <div class="col-sm-10">
        {{product?.name}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description : </label>
      <div class="col-sm-10">
       <textarea class="form-control" id="productDescription" placeholder="Description" row="3"
                 #description="ngModel" [(ngModel)]="product.description" name="description" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Image : </label>
      <div *ngIf="product?.image" class="col-md-4 col-sm-6">
        <img class="img-responsive" [src]="product?.image" [alt]="product?.image">
        <input #fileInput type="file" class="btn btn-default" id="exampleInputFile"
               (change)="onFileChange($event,product)">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Amount : </label>
      <div class="col-sm-10 form-inline">
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(product)">-
        </button>
        <input type="text" class="col-md-1 form-control input-amount" value="1" [(ngModel)]="product.amount"
               name="amount" #amount="ngModel" required>
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(product)">+
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Rate : </label>
      <div class="col-sm-10 form-inline">
        <input type="number" class="form-control" id="productRate" placeholder="Price" min="1"
               [(ngModel)]="product.rate"
               name="rate" #price="ngModel" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Price : </label>
      <div class="col-sm-10 form-inline">
        <input type="number" class="form-control" id="productPrice" placeholder="Price" min="1"
               [(ngModel)]="product.price"
               name="price" #price="ngModel" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-success btn-xs" (click)="addProduct(product)">Save</button>
      </div>
    </div>
  </form>
</div>

