<div class="row panel-body">
  <div class="col-md-8 col-sm-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="onSearch()">Go!</button>
      </span>
    </div>
  </div>
</div>
<div *ngFor="let product of products" class="row">
  <div class="panel panel-primary col-md-8 col-sm-8">
    <div class="panel-heading">
      <h2 class="panel-title">{{product.name}}</h2>
    </div>
    <div class="panel-body row">
      <div class="col-md-6 col-sm-6">
        <img class="img-responsive" [src]="product.image" [title]="product.name">
      </div>
      <div class="col-md-6 col-sm-6">
        <p>Description <br> {{checkDes(product.description)}}</p>
        <p>In stock: {{product.amount}}</p>
        <p>Rating: {{product.rate}}</p>
        <h3>Price: {{product.price | currency:'THB':true}}</h3>
        <div class="row">
          <div class="col-sm-offset-1 ">
            <button type="button" class="btn btn-success btn-xs" (click)="showDetail(product)">More</button>
            <button *ngIf="hasNotRole('STAFF')" type="button" class="btn btn-warning btn-xs">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


